@using Microsoft.AspNetCore.Blazor.Components
<div class="empty-data large white">
    <i class="ti-gallery"></i>
    <p style="font-family: Roboto; color: darkgray !important;">@Text</p>
</div>

@functions
{
    [Parameter]
    private string Text { get; set; } = "No data found";
}
