@using Kalium.Client.Extensions
@using Kalium.Shared.Models
@using Microsoft.AspNetCore.Blazor
@using Microsoft.AspNetCore.Blazor.Components
@inject IMegaService MegaService


<div class="wc-my-account-tabs">
    <div class="user-profile">
        <a class="image">
            <img alt="" id="sidebar-avatar" src="@User?.RealAvatar" class="avatar avatar-128 photo" width="128" height="128">
        </a>
        <div class="user-info">
            <a class="name" href="">@User?.UserName</a>
        </div>
    </div>

    <nav class="woocommerce-MyAccount-navigation">
        <ul>
            <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--dashboard">
                <a href="/user/@User?.UserName.ToLower()">Profile</a>
            </li>
            <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--orders">
                <a href="/user/@User?.UserName.ToLower()/orders">Orders</a>
            </li>
            @if (User != null && User.UserName.Equals(Username, StringComparison.CurrentCultureIgnoreCase))
            {
                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--downloads">
                    <a href="/user/@User?.UserName.ToLower()/change-password">Change Password</a>
                </li>
            }
            <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--downloads">
                <a onclick="@LogOut">Log Out</a>
            </li>
        </ul>
    </nav>
</div>

@functions
{
    [Parameter]
    private User User { get; set; }
    [Parameter]
    private string Username { get; set; }

    private async void LogOut()
    {
        await MegaService.HttpClient.GetJsonAsync<bool>("/api/Identity/LogOut/");
        MegaService.Util.NavigateToHome();
    }

}
