@using Microsoft.AspNetCore.Blazor.Components
<div class="empty-data large white">
    <i class="ti-search"></i>
    <p style="font-family: Roboto; color: darkgray !important;">Looking it up...</p>
</div>