@page "/403"

<div class="container">
    <div class="page-container">
        <div class="error-holder">
            <div class="box">
                <p class="error-type">
                    <span class="flashing-num-1">4</span>
                    <span class="flashing-num-1 del-1">0</span>
                    <span class="flashing-num-1 del-2">3</span>
                </p>
            </div>
            <p class="error-text">Forbidden!</p>
            <p>We’re sorry, you are not authorized to perform this action! <br> Perhaps you would like to go to our <a href="/">home page</a>?</p>
        </div>
    </div>
</div>